body{
  background-color: tomato !important;
  padding: 0px;
  margin: 0px;
}

.portfolio-name, .portfolio-title, .portfolio-phone, .portfolio-email{
  color: #ffffff;
  text-align:center;
}

.portfolio-img{
    
  margin: 0 auto;
}

